<VirtualHost *:80>
    ServerName {{ selfoss_domain }}

    Redirect permanent / https://{{ selfoss_domain }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ selfoss_domain }}
    SSLEngine On

    DocumentRoot            /var/www/selfoss
    Options                 -Indexes

    ErrorLog                /var/log/apache2/selfoss.info-error_log
    CustomLog               /var/log/apache2/selfoss.info-access_log common

    <Directory /var/www/selfoss>
        AllowOverride All
        Require all granted
        DirectoryIndex index.php
    </Directory>
</VirtualHost>
