<VirtualHost *:80>
    ServerName {{ newebe_domain }}

    Redirect permanent / https://{{ newebe_domain }}/
</VirtualHost>

<VirtualHost *:443>

    ServerName {{ newebe_domain }}

    Include /etc/apache2/ssl.conf

    ErrorLog /var/log/apache2/newebe.info-error_log
    CustomLog /var/log/apache2/newebe.info-access_log common


    ProxyPass / http://127.0.0.1:8282/
    ProxyPassReverse / http://127.0.0.1:8282/

</VirtualHost>
