127.0.0.1
# TODO add your server's IP and DNS hosts, ex:
# ns1.linode.com
# 198.58.112.239 
{% for domain in mail_virtual_domains %}
{{ domain.name }}
{% endfor %}
{% for domain in mail_virtual_domains %}
mail.{{ domain.name }}
{% endfor %}