#
# Shorewall version 4 - Rules File
#
# For information on the settings in this file, type "man shorewall-rules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-rules.html
#
###################################################################################################################################################################################
#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME         HEADERS         SWITCH
#							PORT	PORT(S)		DEST		LIMIT		GROUP
#SECTION ALL
#SECTION ESTABLISHED
#SECTION RELATED
SECTION NEW

SSH(ACCEPT)	net		$FW
Ping(ACCEPT)	net		$FW
SMTP(ACCEPT)    net     $FW
DNS(ACCEPT)    net     $FW
HTTP(ACCEPT)    net     $FW
HTTPS(ACCEPT)    net     $FW
SMTPS(ACCEPT)    net     $FW
POP3S(ACCEPT)    net     $FW
IMAPS(ACCEPT)    net     $FW
JabberPlain(ACCEPT)    net     $FW
Jabberd(ACCEPT)    net     $FW

ACCEPT  net $FW tcp 6697  # znc
ACCEPT  net $FW  {{ openvpn_protocol }}    {{ openvpn_port }}
ACCEPT  net $FW udp 60000:61000
