<VirtualHost *:80>
    ServerName www.{{ domain }}

    Redirect permanent / https://www.{{ domain }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName www.{{ domain }}
    SSLEngine On

  	ServerAdmin webmaster@localhost
  	DocumentRoot /var/www/html

  	ErrorLog ${APACHE_LOG_DIR}/error.log
  	CustomLog ${APACHE_LOG_DIR}/access.log combined

    ErrorDocument 404 /404/index.html

</VirtualHost>
