    Ciphers {{ ciphers }}
    KexAlgorithms {{ kex_algorithms }}
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials no
    MACs {{ macs }}
    PasswordAuthentication no

