- name: Install collectd
  apt: pkg=collectd state=installed

- name: Copy collectd configuration file into place
  template: src=etc_collectd_collectd.conf.j2 dest=/etc/collectd/collectd.conf
  notify: restart collectd

- name: Ensure collectd is a system service
  service: name=collectd state=started enabled=true
