<VirtualHost *:80> 
    ServerName {{ webmail_domain }}

    Redirect permanent / https://{{ webmail_domain }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ webmail_domain }}
    Include /etc/apache2/ssl.conf
    Alias / /opt/roundcube/

    <Directory /opt/roundcube>
     AllowOverride All
{% if ansible_distribution_release != 'wheezy' %}
     Require all granted
{% else %}
     Order allow,deny
     Allow from all
{% endif %}
    </Directory>

    LogLevel warn
    CustomLog /var/log/apache2/webmail_access.log combined 
    ErrorLog /var/log/apache2/webmail_error.log 
</VirtualHost>
