<VirtualHost *:80>
    ServerName {{ wallabag_domain }}

    Redirect permanent / https://{{ wallabag_domain }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ wallabag_domain }}
    SSLEngine On

    DocumentRoot            /var/www/wallabag
    Options                 -Indexes

    ErrorLog                /var/log/apache2/wallabag.info-error_log
    CustomLog               /var/log/apache2/wallabag.info-access_log common

    <Directory /var/www/wallabag>
        AllowOverride All
        Require all granted
        DirectoryIndex index.php
    </Directory>
</VirtualHost>
