<VirtualHost *:80>
    ServerName www.{{ domain }}

    Redirect permanent / https://{{ domain }}/
</VirtualHost>


<VirtualHost *:443>
    ServerName www.{{ domain }}

    SSLEngine On

    DocumentRoot            "/var/www/{{ domain }}"
    DirectoryIndex          index.html
    Options                 -Indexes

    HostnameLookups         Off

    {% if blog_404_page is defined %}
    ErrorDocument           404 {{blog_404_page}}
    {% endif %}

</VirtualHost>
