<VirtualHost *:80>
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}

    Redirect permanent / https://{{ domain }}/
</VirtualHost>


<VirtualHost *:443>
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}

    Include /etc/apache2/ssl.conf

    DocumentRoot            "/var/www/{{ domain }}"
    DirectoryIndex          index.html
    Options                 -Indexes

    HostnameLookups         Off
</VirtualHost>
