#!/bin/bash
# Executed by /etc/cron.daily/letsencrypt-renew

cat /etc/letsencrypt/live/{{ domain }}/{privkey,fullchain}.pem > /usr/lib/znc/znc.pem
chown znc.znc /usr/lib/znc/znc.pem
chmod 640 /usr/lib/znc/znc.pem
service znc restart
